---
import AboutHeroImage from '../assets/vendredi-lecture.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="À propos"
	description="Courte description sur moi-même"
	pubDate={new Date('Dec 09 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Développeuse à temps plein et lectrice dès que j'ai du temps 
		(ce qui arrive de plus en plus souvent),
		je posterai ici mes découvertes au fil des jours. </br></br>

		J'écris aussi, parfois, à l'occassion d'ateliers d'écriture.
		Je serai ravie de vous partager mes textes. </br></br>

		Nous verrons bien ce que tout cela donnera.
	</p>
</Layout>
